<div class="d-flex justify-content-end mb-3">
    <button (click)="openDialog()" mat-button color="primary">
        Crear usuario
    </button>
</div>

<table mat-table [dataSource]="users" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- firstName Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <!-- lastName Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Curso </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

<!-- asignatura Column -->
<ng-container matColumnDef="asignaturas">
  <th mat-header-cell *matHeaderCellDef> Asignaturas </th>
  <td mat-cell *matCellDef="let element"> 
    {{ mostrarAsignaturas(element.asignaturas) }}
  </td>
</ng-container>


    
    

    <!-- createdAt Column -->
    <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt  | date }} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">  

    <!-- Botón Editar -->     
          <button (click)="openDialog(element)" mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
    
        <!-- Botón Eliminar -->  
        <button 
        (click)="onDeleteUser(element.id)" 
        mat-icon-button 
        color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

